/{
  aliases {
        rtc2 = &rtc2;
        temp = &hts221;
        pressure = &lps22hb_press;
        gas = &ccs811;
    };
};

&rtc2 {
    label = "RTC_2";
    status = "okay";
    prescaler = <1>;
};

&sx1509b {
    status = "okay";
};

&i2c1 {
    status = "okay";
    compatible = "nordic,nrf-twim";
    neom9n: neom9n@42 {
        status = "okay";
        compatible = "u-blox,neom9n";
        label = "NEOM9N";
        reg = <0x42>;
    };
};
