
menuconfig UBLOX_NEO_M9N
    bool "Enable ublox_neo_m9n driver"
    default n
    depends on I2C
    help
      Enable the ublox_neo_m9n driver.  Requires CONFIG_I2C_IFACE=y.

if UBLOX_NEO_M9N

module = UBLOX_NEO_M9N
module-str = neom9n
source "subsys/logging/Kconfig.template.log_config"

config UBLOX_NEO_M9N_INIT_PRIORITY
    int "Counter init priority"
    default 80
    help
      NEO-M9N driver device initialization priority.

endif # UBLOX_NEO_M9N
