azure-core==1.34.0
azure-iot-device==2.14.0
azure-iot-hub==2.6.1
certifi==2025.4.26
charset-normalizer==3.4.2
deprecation==2.1.0
idna==3.10
isodate==0.7.2
janus==2.0.0
msrest==0.7.1
oauthlib==3.2.2
packaging==25.0
paho-mqtt==1.6.1
prompt_toolkit==3.0.51
pyserial==3.5
PySocks==1.7.1
python-dotenv==1.1.0
requests==2.32.3
requests-oauthlib==2.0.0
requests-unixsocket2==1.0.0
six==1.17.0
typing_extensions==4.13.2
uamqp==1.6.11
urllib3==2.4.0
wcwidth==0.2.13
